.lateral {
    background-color: #1E6091;
    box-sizing: border-box;
    width: 15vh;
    height: 85vh;
    text-align: center;
}

.lateral > div {
    position: absolute;
    top: 35%;
    width: 15vh;
    
}

.lateral_frase {
    font-size: 2rem;

}

.lateral_lista {
    margin-top: 2rem;
    

}

.lateral_lista > label {
    font-size: 1.5rem;

}

.lateral_lista > label {
    margin-top: 1.5rem;
}

.fa-solid {
    font-size: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}