/* ASIDE BAR */
.lateral {
  background-color: var(--cor-1);
  box-sizing: border-box;
  width: 15vh;
  height: 85vh;
  text-align: center;
}

.lateral > div {
  position: absolute;
  top: 35%;
  width: 15vh;
}

.lateral_frase {
  font-size: 2rem;
}

.lateral_lista {
  margin-top: 2rem;
}

.lateral_lista > label {
  font-size: 1.5rem;
}

.lateral_lista > label {
  margin-top: 1.5rem;
}

.fa-solid {
  font-size: 4rem;
  margin-top: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
    .lateral {
        border-top: 1px solid;
        background-color: var(--cor-1);
        box-sizing: border-box;
        width: 100vw;
        height: 10vh;
        text-align: center;
      }
      
  .lateral > div {
    padding: 1rem 0;
    width: 100vw;
    position: initial;
  }

  .lateral_frase {
    font-size: 1.2rem;
  }

  .lateral_lista {
    margin: 0;
  }

  .lateral_lista > label {
    font-size: 1rem;
  }

  .lateral_lista > label {
    margin-top: 1.5rem;
  }

  .fa-solid {
    font-size: 1.25rem;
    margin-top: 1rem;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1900px) {  
  
  .lateral_lista > label {
    font-size: 0.9rem;
  }

}