/* SLIDER OF MOTIVATIONAL SENTENCE IN HEADER */
.cabecalho_slider__conteudo {
    font-size: 1.5rem;
    font-weight: bold;
  

}

.slider {
    height: 25px;
    overflow: hidden;

}

.slider div {
    height: 50px;
    margin-bottom: 50px;
    text-align: center;
    box-sizing: border-box;

}

.slider_text1 {
    animation: slide 10s linear infinite;
    
}

@keyframes slide {
    0% {margin-top:-300px;} /*Definir a altura e a margin bottom com 50px então ele tem que descer de 100 em 100*/
    5% {margin-top:-200px;} /*Adicionando longos tempos de delay para parar a animação*/
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    97% {margin-top:0px;}
    100% {margin-top: 90px;}

}


@media screen and (max-width: 500px) { 
    .cabecalho_slider__conteudo {
        font-size: 0.9rem;
        margin: 0.3rem 0 0.8rem 0      
    
    } 

}
