body {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    background-color: #1E6091;
}

.cabecalho_container {
    height: 15vh;
    background-color: #1E6091;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    justify-content: space-between;

}

.logo {
    height: 12.5vh;
    
}

.logo:hover .cards_centro { 
    background-color: rgb(3, 63, 192);

}


.cabecalho_container > h2 {
    font-size: 2.75rem;

}

.cabecalho_hora {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}