/* HEADER */
body {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    background-color: var(--cor-1);
    color: #202020;
}

.cabecalho_container {
    height: 15vh;
    background-color: var(--cor-1);
    display: flex;
    align-items: center;
    padding: 0 10vw;
    justify-content: space-between;

}

.logo {
    height: 12.5vh;
    
}

.cabecalho_container > h2 {
    font-size: 2.75rem;

}

.cabecalho_hora {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

@media screen and (max-width: 500px) { 
    .cabecalho_container {
        margin-top: 1rem;
        padding: 0 auto;
        flex-direction: column;
        justify-content:inherit;
        height: 19.5vh;

    }

    .logo {
        height:7vh;
        
    }
    
    .cabecalho_container > h2 {
        font-size: 1.25rem;
    
    }
    
    .cabecalho_hora {
        font-size: 1rem;
        display: flex;
        column-gap: 3px;
        margin-top: -0.5rem;
        text-align: center;
    }
    
    .cabecalho_hora div:last-child time:nth-last-child(-n+2):before {
    content: '/ '
    
    }

    .cabecalho_hora p {
        display: none;

    }
}

